<html>
   <head>
      <title> Turn on and off LEDs </title>
   </head>
   <body>
      <div>
         <h2>Turn on and off LEDs</h2>
         <p>
            Yellow LED:
         <form action="/yellowON/" method="post">
            <button name="yellowBtnON" type="submit">ON</button>
         </form>
         <form action="/yellowOFF/" method="post">
            <button name="yellowBtnOFF" type="submit">OFF</button>
         </form>
         </p>
         <p>
            Red LED:
         <form action="/redON/" method="post">
            <button name="redBtnON" type="submit">ON</button>
         </form>
         <form action="/redOFF/" method="post">
            <button name="redBtnOFF" type="submit">OFF</button>
         </form>
         </p>
      </div>
      <hr>
   </body>
</html>
